html,
body {
  overflow-x: hidden;
}
html {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter';
  color: #07040c;
  font-size: 16px;
  font-style: normal;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
}
.visually-hidden {
  display: none;
}
/*start header*/
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 239px;
  margin-bottom: 22px;
}

.logo {
  display: flex;
  gap: 10px;
}
.logo__text h1 {
  color: #f35a05;
  font-family: 'Ubuntu';
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 6px;
}
.logo__text p {
  font-size: 13px;
  font-weight: 500;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  font-family: 'Ubuntu';
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
.header__buttons {
  font-family: 'Ubuntu';
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
.header__buttons a:last-child {
  border: 1px solid #000;
  border-radius: 30px;
  padding: 12px 20px;
  margin-left: 20px;
}

.line {
  max-width: 1280px;
  border-bottom: 1px solid #e2e3ef;
  margin-bottom: 48px;
}
/*end header*/

/*promo start*/

.promo__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 84px;
  margin-bottom: 50px;
}
.promo-content-left h2 {
  font-family: Ubuntu;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}

.promo__text {
  color: #585967;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 40px;
}
.promo__button a {
  padding: 22px 56px;
  border-radius: 30px;
  background: #f35a05;
  color: #fff;
  text-align: center;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.promo__button p {
  color: #808296;
  font-weight: 400;
  line-height: 145%;
}
.promo__button {
  display: flex;
  align-items: center;
  gap: 30px;
}

.promo__button p::after {
  content: url(../image/smile.svg);
}
/*promo end*/
/*advantages start*/
.adv__items {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 40px;
  margin-bottom: 130px;
}
.adv__item {
  width: 224px;
}
.adv__item h4 {
  font-family: 'Ubuntu';
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 15px;
  margin-top: 10px;
}
.adv__item p {
  color: #585967;
  font-weight: 400;
}

.adv__item-1::before {
  content: url(../image/adv1.svg);
}
.adv__item-2::before {
  content: url(../image/adv2.svg);
}
.adv__item-3::before {
  content: url(../image/adv3.svg);
}
.adv__item-4::before {
  content: url(../image/adv4.svg);
}
.adv__item-5::before {
  content: url(../image/adv5.svg);
}
/*advantages end*/
